<div class="container">
    <h1><%= @citywalk.name %></h1>

    <div class="citywalk-description">
        <p><%= @citywalk.description %></p>
    </div>

    <%= render partial: "reviews/reviews", locals: {reviewable: @citywalk} %>


</div>