<!-- A wrapper with the nested-fields class is required here.  -->
<div class="nested-fields">
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', required: true %>
  </div>
  <%= link_to_remove_association "Remove Option", f, class: "btn btn-primary" %>
</div>