<div class="col-md-4 mb-4">
    <div class="thumbnail">
        <%= link_to image_tag(restaurant.image.thumb.url, alt: restaurant.name, class: "img-fluid"), restaurant_path(restaurant) if restaurant.image? %>
        <div class="caption">
            <h4><%= link_to restaurant.name, restaurant_path(restaurant), class: "caption-link"%></h4>
        </div>
        <% if has_role?(:admin) %>
            <div class="thumbnail-buttons">
                <%= link_to edit_restaurant_path(restaurant) do %>
                    <p><i class="fas fa-pencil-alt"></i></p>
                <% end %>
                <%= link_to restaurant_path(restaurant), method: :delete, data: { confirm: "Are you sure?" } do %>
                    <p><i class="fas fa-trash-alt"></i></p>
                <% end %>            
            </div>            
        <% end %>
    </div>
</div>