<div class="row align-items-center flex-column">
    <h1 class="display-1">Restaurants</h1>
    <h6> <%= link_to @city.country.name, country_path(@city.country) %>, <%= link_to @city.name, city_path(@city) %> </h6>
</div>

<div class="row">
    <%= render @restaurants %>
</div>