<% if has_role?(:admin) %>

	<div class="col-md-6 offset-3">

	    <div class="new-restaurant-form">

	        <h1>New Restaurant</h1>

	        <%= render 'form' %>

	    </div>

	</div>

<% else %>
    <p class="text-center">Sorry! You do not have acces to this page</p>
    <%= link_to "Back", root_path %>
<% end %>