<div class="row">
    <h5 class="text-secondary"><%= @posts.count %> Posts</h2>
</div>

<% if @posts.count == 0 %>
    <h1>There are no posts currently in this category</h1>
<% else %>
    <%= render @posts %>    
<% end %> <!-- endelse -->

<div class="row justify-content-center">
    <%= will_paginate @hotels, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>

<hr>

<% if user_signed_in? %>
    <div class="row justify-content-center">
        <%= link_to "Add Post", new_post_path, class: "btn btn-primary" %>            
    </div>
<% end %>
