/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "bootstrap";

.nav-gravatar {
    height: 30px;
    width: auto;
}

.activity-button {
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #f4f4f4;
    color: #333;
    width: 100%;
}

a.activity-button:hover {
    background-color: #4AA9D2;
    color: #fff;
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    bottom: 10%;
    left: 5%;

    .caption-link {
        color: #fff;
    }
}

