/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require easy-autocomplete
 *= require_self
 */
@import "bootstrap";

/* Variables*/
$triposo_green: #5AB959;
$triposo_white: rgba(255, 255, 255, 0.6);
$triposo_black: #262626;
$triposo_cyan: #00C4F8;
$triposo_hover_link: rgba(255, 255, 255, 0.7);

/* Imports */
@import "users";

.navbar {
    background: $triposo_cyan;

    a.nav-link {
        color: #fff !important;

        &:hover {
            color: $triposo_hover_link !important; 
        }
    }
}

.nav-gravatar {
    height: 30px;
    width: auto;
}

.activity-button {
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #f4f4f4;
    color: #333;
    width: 100%;
    margin: 0.5em 0;
}

a.activity-button:hover {
    background-color: #4AA9D2;
    color: #fff;
}

.thumbnail {
    position: relative;

    .thumbnail-buttons {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 5%;
        right: 2%;
    }

    .caption {
        position: absolute;
        bottom: 20%;
        left: 5%;
    }
   
    .rating-star {
        position: absolute;
        bottom: 15%;
        left: 5%;
    }
    
    .caption-link {
        color: #fff;
        font-size: 22px;
    }

    a {
        margin-right: 1rem;
        color: $triposo_white;
        font-size: 20px;

        &:hover {
            color: #fff;
        }
    }
}

.show-image {
    height: 400px;
}

.progress {
  background-image: linear-gradient(to bottom, #bbb 0%, #ccc 100%)
}

#myInput {
    text-align: center;
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 70%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    margin: auto;
}

#myTable {
    margin: 0 auto;
    text-align: center;
    width: 70%;
}


#myTable .header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.label {
    color: white;
    padding: 8px;
}

.success {background-color: #4CAF50;}
.info {background-color: #2196F3;}
.warning {background-color: #ff9800;}
.danger {background-color: #f44336;} 
.other {background-color: #e7e7e7; color: black;}
