// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-button {
    color: $triposo_green;
    margin: 0 0.25em;

    &:hover {
        color: lighten($triposo_green, 20%);
    }

}