<div class="col-md-4 mb-4">
    <div class="thumbnail">
        <%= link_to image_tag(hotel.image.thumb.url, alt: hotel.name, class: "img-fluid"), hotel_path(hotel) if hotel.image? %>
        <div class="caption">
            <h4><%= link_to hotel.name, hotel_path(hotel), class: "caption-link"%></h4>
        </div>
        <% if has_role?(:admin) %>
            <div class="thumbnail-buttons">
                <%= link_to edit_hotel_path(hotel) do %>
                    <p><i class="fas fa-pencil-alt"></i></p>
                <% end %>
                <%= link_to hotel_path(hotel), method: :delete, data: { confirm: "Are you sure?" } do %>
                    <p><i class="fas fa-trash-alt"></i></p>
                <% end %>            
            </div>            
        <% end %>
    </div>
</div>