<div class="container">
    <h1><%= @hotel.name %></h1>

    <div class="hotel-description">
        <p><%= @hotel.description %></p>
    </div>

    <%= render partial: "reviews/reviews", locals: {reviewable: @hotel} %>

</div>
