<h3>Reviews</h3>

<% reviewable.reviews.each do |review| %>
    <div class="card">

        <div class="card-body">
            <%= review.body %>
        </div>
    </div>

    <%= link_to "Edit", edit_review_path(review), class: "btn btn-default" %>
    <%= link_to "Delete", review_path(review), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
<% end %>
