<div class="col-md-6 offset-3">

    <div class="edit-review-form">

        <h1>Edit Review</h1>

        <%= simple_form_for @review do |f| %>
            <div id="rating-form">
                <label>My rating: </label>
            </div>
            <%= f.input :body %>
            <%= f.button :submit, :class => "btn btn-primary" %>
        <% end %> 

    </div>

</div>

<script>
    $('#rating-form').raty({
        path: '/assets/',
        scoreName: 'review[rating]',
        score: <%= @review.rating %>
    });
</script>